.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.card_img {
  width: 200px;
}

.card_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}

.card_header h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-size: 25px;
  margin-bottom: 10px;
}

.card :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
  color: white;
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.filter {
  display: flex;
  padding: 16px;
  margin: 16px;
  border-bottom: 3px #c0c0c0 solid;
  justify-content: space-between;
  position: relative;
  top: 70px;
}

.filer-size {
  position: relative;
  top: 5px;
}

select {
  cursor: pointer;
}

.product_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product_details img {
  max-height: 50%;
  max-width: 50%;
  margin: 0 auto;
}

.product_details_description {
  flex: 1 1;
  position: relative;
  margin: 16px;
  top: 40px;
}

.product_details_description p {
  margin-bottom: 16px;
}

.closeModal {
  position: absolute;
  right: 20px;
  top: 30px;
  z-index: 1000;
  font-size: 25px;
  border: none;
  background-color: Transparent;
}

@media screen and (max-width: 700px) {
  .card {
    width: 67%;
    margin: 45px;
  }

  .filter {
    top: 80px;
  }

  .product_details_description {
    top: 13px;
  }

  .product_details_description p {
    margin-bottom: 20px;
  }

  .product_details img {
    position: relative;
    top: 1rem;
  
    max-width: 80%;
  }
}
