
.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  height: 100%;
  margin: 50px auto;
  padding: 50px 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 15px;
  flex-direction: column;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  margin-bottom: 50px;
}

.card_img {
  width: 200px;
}

.card_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px 0;
}

.card_header h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.price {
  font-size: 25px;
  margin-bottom: 10px;
}

.card :hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
  color: white;
  width: 130px;
  height: 35px;
  font-size: 14px;
  border-radius: 35px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
