.navbarItems {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 100;
  width: 100%;
  background: #000000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 5rem;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5 rem 1rem;
}

.nav-links:hover {
  color: rgb(64, 64, 233);
}

.menu-icon {
  color: white;
  display: none;
  cursor: pointer;
}

.rightIcons {
  display: flex;
  gap: 10px;
  color: white;
}

@media screen and (max-width: 700px) {
  .navbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgb(24, 24, 24);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    color: black;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
  .rightIcons {
    position: absolute;
    right: 3.5rem;
    top: 1.4rem;
  }
}
