.navbar,
.navbaractive {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0rem 5rem;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbaractive {
  background: #101010;
}

.add-background {
  background-color: #101010;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5 rem 1rem;
  cursor: pointer;
  font-size: 18px;
}

.nav-links::after {
  content: "";
  height: 3px;
  position: relative;
  top: 0.5rem;
  width: 0%;
  background-color: white;
  display: block;
  transition: 0.5s ease-in-out;
}

.nav-links:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  display: block;
}

.menu-icon {
  color: white;
  display: none;
  cursor: pointer;
}

.basket {
  display: flex;
  position: fixed;
  color: white;
  right: 175px;
  z-index: -10;
}

.basket span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: white;
  color: black;
  font-size: 14px;
}

.login,
.logout {
  border: none;
  border-radius: 28px;
  padding: 14px 20px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  outline: none;
  display: inline-block;
  z-index: -10;
}

.logout {
  background: #ff0000;
  color: white;
}

.sidemenu {
  top: 0;
  right: -100%;
  height: 100%;
  position: fixed;
  width: 25%;
  background-color: #fff;
  transition: all ease 01s;
  box-shadow: 0 0 35px #04040445;
}

.sidemenu h1 {
  font-size: 24px;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px #c0c0c0 solid;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  top: 40%;
}

.cart-items {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  right: 1rem;
  width: 10%;
}

.cart-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.cart-name {
  font-size: 18px;
  width: 30%;
}

.cart-price {
  font-size: 16px;
}

.delete-btn {
  background-color: transparent;
  border: hidden;
  outline: none;
  cursor: pointer;
  color: red;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 18%;
  padding: 45px;
  width: 300px;
}

.cart-summary-heading {
  border-bottom: 1px solid #696969;
}

.cart-summary-price {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.sidemenu.active {
  right: 0;
}

.cart-img img {
  width: 100px;
  height: 100px;
}

.closebtn {
  position: absolute;
  top: 22px;
  right: 18px;
  margin-left: 25px;
  color: black;
  border: none;
  background-color: Transparent;
  cursor: pointer;
}

/* modal */

body.active-modal {
  overflow-y: hidden;
}

.details,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.details-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  background: #f1f1f1;
  padding: 25px 28px;
  border-radius: 15px;
  width: 500px;
}

.details-content h2 {
  margin-bottom: 1rem;
}

.inputbox {
  position: relative;
  width: 100%;
  margin-top: 13px;
}

.inputbox input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  background: #f1f1f1;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.inputbox input:focus ~ span,
input:valid ~ span,
input[type="email"]:focus ~ span,
input[type="email"]:valid ~ span textarea:focus ~ span,
textarea:valid ~ span {
  color: #0e0d0d;
  font-size: 16px;
  transform: translateY(-20px);
}

.inputbox button:enabled {
  width: 100px;
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.inputbox button:disabled {
  width: 100px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.dropdown {
  position: absolute;
  top: 55px;
  right: -32px;
  background: #d3d3d3;
  width: 100px;
  padding: 27px 20px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.dropdown.active {
  visibility: visible;
  opacity: 1;
}

.dropdown::before {
  content: "";
  position: absolute;
  right: 42px;
  top: -5px;
  width: 20px;
  height: 20px;
  background: #d3d3d3;
  transform: rotate(45deg);
}

.dropdown h1 {
  position: relative;
  padding-bottom: 15px;
  width: 100px;
  font-size: 15px;
  cursor: default;
}

.dropdown h2 {
  position: relative;
  font-size: 18px;
  top: 10px;
  cursor: pointer;
}

.rightDropdown {
  position: relative;
  top: -3px;
  z-index: -10;
}

@media screen and (max-width: 1600px) {
  .sidemenu {
    width: 100%;
  }

  .cart-summary {
    left: 40%;
  }
}
@media screen and (max-width: 700px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: fixed;
    top: 80px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    background-color: rgb(24, 24, 24);
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    color: black;
  }

  .navbar-logo {
    position: absolute;
    top: -0.7rem;
    left: -0.7rem;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
  .basket {
    position: fixed;
    right: 3.5rem;
    top: 1.3rem;
  }

  .basket span {
    font-size: 12px;
    width: 18px;
    height: 19px;
    right: -10px;
  }

  .sidemenu {
    width: 100%;
  }

  .sidemenu h1 {
    font-size: 18px;
  }

  .closebtn {
    top: 20px;
    right: 25px;
  }
  .cart-name,
  .cart-price {
    font-size: 15px;
    width: 20%;
  }
  .cart-card {
    width: 95%;
  }
  .cart-items {
    width: 15%;
    left: 0;
  }
  .cart-summary {
    left: 10%;
  }
  .login,
  .logout {
    padding: 10px 15px;
    bottom: 0.4rem;
    margin-right: 0.4rem;
  }

  .details-content {
    top: 45%;
    width: 350px;
  }

  .rightDropdown {
    right: 5px;
    top: -5px;
  }
}
