.navbar {
  position: fixed;
  height: 80px;
  background: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 5rem;
  top: 0;
  z-index: 100;
}

.navbaractive {
  background: red;
}

.navbar-logo {
  color: #fff;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5 rem 1rem;
  cursor: pointer;
}

.nav-links:hover {
  color: rgb(34, 38, 241);
}

.menu-icon {
  color: white;
  display: none;
  cursor: pointer;
}

.rightIcons {
  display: flex;
  gap: 10px;
  color: white;
}

.sidemenu {
  top: 0;
  right: -100%;
  height: 100%;
  position: fixed;
  width: 15%;
  background-color: #fff;
  transition: 850ms;
}

.sidemenu h1 {
  font-size: 16px;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px #c0c0c0 solid;
}

.sidemenu.active {
  right: 0;
  transition: 350ms;
}

.closebtn {
  position: absolute;
  top: 22px;
  right: 20px;
  font-size: 22px;
  margin-left: 25px;
  color: black;
  border: none;
  background-color: Transparent;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: fixed;
    top: 80px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: rgb(24, 24, 24);
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 0;
    color: black;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
  }
  .rightIcons {
    position: absolute;
    right: 3.5rem;
    top: 1.4rem;
  }

  .sidemenu {
    width: 50%;
  }
}
